
    .opt.heading{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: 700;
    }
    .heading a:hover{
        color: blue;
    }
    .menu-head{
        padding-left: 22px;
    }
    .menu-head i{
        padding-top: 7px;
    }

    /* General Input Restore Backup File */
    #restore_file{
        display: none;
    }


.manage{
    width: 100%;
}
    .day{
        margin: 7px auto;
    }
    .taskValue{
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.2);
        padding: 5px;
    }
input{
    background-color: white;
    color: black;
}

.opt input, input:hover, input:focus{
    background-color: white;
    color: black;
}

@media screen and (max-width: 767px) {
    .option-list{
        width: 80%;
        padding: 5px;
    }
    .manage{
        padding-left: 10px;
    }
    .task{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        .taskValue{
            margin: 3px;
            width: 100%;
            overflow-x: scroll;
        }
}
